node_modules
.DS_Store
dist
dist-ssr
*.local
components.d.ts
auto-imports.d.ts

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
pnpm-lock.yaml

.env.production
